<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../../index.css" />
		<title>Delizia</title>
	</head>
	<body>
		<header>
			<nav class="navbar bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">Delizia ☕</a>
				</div>
			</nav>
		</header>
		<h2 class="m-3">- C R E A R - C L I E N T E -</h2>
		<main class="contenido formulario">
			<form action="/cliente/createCliente" method="POST">
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label"
						>Nombre cliente</label
					>
					<input name="nombre" type="text" class="form-control" />
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label"
						>Numero de telefono</label
					>
					<input name="numero" type="text" class="form-control" />
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label"
						>Direccion</label
					>
					<input name="direccion" type="text" class="form-control" />
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</main>
		<footer>
			<a href="../menu/cliente/cliente.html"> Regresar <-</a>
		</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</body>
</html>
